@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?5200390');
  src: url('fonts/fontello.eot?5200390#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?5200390') format('woff2'),
       url('fonts/fontello.woff?5200390') format('woff'),
       url('fonts/fontello.ttf?5200390') format('truetype'),
       url('fonts/fontello.svg?5200390#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
} 
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon-ok:before { content: '\e800'; } 
.icon-down-open:before { 
	content: '\f004'; 
	color:black;
}

.wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}

.select__body{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	height: 300px;
	background-color: gray;
}

.select__item{
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding-left: 20px;
}

.select__text{
	font-family: "Montserrat SemiBold";
	font-size: 14px;
	text-transform: uppercase;
	color: black;
}

.select__item._active > .select__text{
	color: green;
}

.select__item._active > i{
	opacity: 1;
}

.select__image{
	width: 26px;
	margin-left: 10px;
}

.select__item > i{
	font-size: 14px;
	color: green;
	padding-left: 8px;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

.selectShell__trigger{
	width: 100%;
	min-width: 130px;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	border-radius: 5px;
	font-family: "Montserrat SemiBold";
	font-size: 14px;
	text-transform: uppercase;
	background-color: azure;
}

.selectShell__trigger._active > i{
	transform: rotate(180deg);
}

.selectShell__trigger i{
	position: absolute;
	top: 15px;
	right: 10px;
}

.selectShell__trigger img{
	width: 26px;
	margin-left: 10px;
}